html, body {
    margin: 0;
    padding: 0;
}

.main-format {
    display: flex;
    align-content: space-around;
    flex-wrap: wrap;
    padding: 1rem;
    align-items: center;
    flex-direction: column;
}

.main-format > * {
    margin-right: 1rem;
}

.full-width {
    width: 42vw;
    padding-top: 1rem;
}

.horizontal {
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
}

.vertical {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: space-between;
}

.input-field {
    width: 42vw;
}

.output-table {
    width: 95vw;
    padding: 0 2% 0 2%;
}

h4 {
    color: rgb(202, 179, 179);
}

mat-progress-bar {
    height: 10rem;
    width: 90%;
    margin-left: 5%;
}

a {
    color: #3C5E79;
}

tr.mat-mdc-footer-row td {
    font-weight: bold;
  }

  h2 {
    color: white;
    font-family: 'Roboto', sans-serif;
  }